* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem 1rem 2rem;
}

header h1{
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 25px;
  padding: 5px 0 0 0;
}

nav a{
  text-decoration: none;
  color: #fff;
}

ul li{
  cursor: pointer;
}

.introduction{
  display: flex;
  justify-content: space-between;
  margin: 2rem 8rem 2rem 8rem;
}

.introduction h2{
  font-size: 3rem;
  color: #333;
  margin: 4rem 0 10px 0;
}

.introduction p{
  width: 550px;
  font-size: 20px;
}

.introduction img{
  width: 400px;
  height: 300px;
  border-radius: 12px;
}

.skills-section{
padding-top: 20px;
}

.skills-header, .contact h2{
text-align: center;
color: #000;
padding: 1rem;
position: relative;
}

.skills-header:after, .contact h2:after{
content: '';
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
width: 100px;
height: 4px;
background-color: #2ecc71;
border-radius: 2px;
}

.skills-container{
display: grid;
grid-tempLate-columns: repeat(5, 1fr);
justify-content:center;
align-items:center;
text-align: center;
grid-gap:1rem;
padding: 1rem 80px;
font-size: 1.2rem;
}

.skills-box{
padding: 1rem;
color: #000;
cursor:pointer;
}

.skills-title{
display:flex;
flex-direction: column;
align-items:center;
padding: 0.5rem;
margin-bottom: 0.5rem;
position: relative;
}

.skills-icons{
width:50px;
z-index:2;
}

.skills-img{
width:90px;
height:90px;
position: relative;
border-radius: 45px;
background-color: #fff;
display:flex;
justify-content:center;
align-items:center;
transition: .5s;
}

.skills-img:after{
content: '';
position:absolute;
top:0;
left: 0;
width:50%;
height:90px;
background: rgba(100, 100, 100, 0.5);
border-radius: 45px 0 0 45px;
}
.skills-title h3{
color: #333;
margin-top: 0.5rem;
}
@media screen and (max-width:990px){
 .skills-container{
 grid-tempLate-columns: repeat(2, 1fr);
 padding: 2rem 50px;
 }
}

@media screen and (max-width:650px){
 .skills-container{
 grid-tempLate-columns:2fr;
 padding: 2rem 50px;
 }
}

.contact a {
  display: block;
  margin: 10px 0;
  color: #333;
  text-decoration: none;
}
@media (max-width: 600px) {
  header,
  .section {
    padding: 10px;
  }
  .skills li {
    padding: 8px;
  }
  .contact a {
    margin: 5px 0;
  }
}

.contact{
  margin: 1rem 0 3rem 0;
}

.contact-info{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.contact a{
  font-size: 30px;
  margin: 1rem 0 0 0;
}